@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color:  hsl(234, 29%, 20%);
}

.container{
    display: flex;
    flex-direction: row;
    margin: 100px 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 30px;
    /* display: none; */
}

.heading{
    font-size: 50px;
}

.sign-up{
    height: 500px;
    border-radius: 0px;
}

.box-1{
padding: 30px;
margin: 20px 0;
}

img{
    float: left;
    margin-right: 20px;
}

.email{
    width: 80%;
    padding: 12px;
    border-radius: 5px;
}

.btn{
    width: 88%;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    border-style: none;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    cursor: pointer;
}

.btn:hover{
    background-color:hsl(4, 100%, 67%);
    cursor: pointer;
}

.facilities{
margin-bottom: 20px;
}

.email-label{
    font-size: 10px;
    font-weight: 700;
}

.email-error{
    font-size: 10px;
    position: relative;
    left: 220px;
    top: 15px;
    color: hsl(4, 100%, 67%);
    display: none;
}

.box-2{
    height: 500px;
}

.tick{
width: 40px;
height: 40px;
float: none;
}

.thankyou-card{
    margin: 150px auto;
    width: 25%;
    height: 20%;
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: none;
}

.gratitude{
    font-size: 40px;
    font-weight: 700;
}

.paragraph{
    line-height: 25px;
}

.btn-message{
    width: 100%;
    padding: 15px;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    font-weight: 400;
    border-style: none;
}

.btn-message:hover{
    background-color:hsl(4, 100%, 67%);
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
        margin: 20px;
    }

    .box-1{
        order: 2;
    }

    .box-1{
        order: 1;
        padding: 0;
        margin: 0;
    }

    .email{
        width: 92%;
    }

    .btn{
        width: 100%;
    }

    .thankyou-card{
        width: 85%;
        padding: 20px;
    }
}